.grid-add {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    border: 1px dotted red;
    display: grid;
    gap: 10px;
}

.grid-add .grid-item {
    border: 1px dotted blue;
    border-radius: 30px;
    padding: 20px;
    width: 90%;
    height: auto;
}

.grid-add .grid-item .button {
    border: 1px dotted black;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width: 700px) {

    /* 반응형 웹 */
    .grid-add {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Article add */
.articleType {
    border: 1px solid black;
}


/* reading   ------- */
.r01,
.r02 {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r01 .reg {
    min-width: 500px;
    padding: 10px;
    border: 1px solid skyblue;
    text-align: center;
}

.r01 .reg:hover {
    background-color: antiquewhite;
}

.r01 .response {
    border: 1px solid orange;
    margin-top: 20px;

    min-width: 500px;
    min-height: 400px;

}
.r01 .response textarea {
    min-width: 500px;
    min-height: 400px;
}

.r02 .reg {
    width: 100%;
    border: 1px solid skyblue;
}

.r02 .reg form {
    width: 100%;
    max-width: 800px;
}

.r02 .response {
    display: flex;
    min-width: 500px;
    flex-direction: column;
    border: 1px solid orange;
}

.r02 .response .item{
    min-width: 500px;
    border: 1px solid black;
}


.addArticle-join {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}