<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="addArticle">
    <div class="grid-add">
        <div class="grid-item">
            <h2>Reading</h2>
            <a href="/article/r01">
                <div class="button">예시 지문 생성</div>
            </a>
            <a href="/article/r02">
                <div class="button">선 후 독서 질문 생성</div>
            </a>
        </div>
        <div class="grid-item">
            <h2>Writing</h2>
            <a href="/article/w01">
                <div class="button">지문 첨삭</div>
            </a>
            <a href="/article/w02">
                <div class="button">문장 성분 분석</div>
            </a>
        </div>
        <div class="grid-item">
            <h2>Vocabulary</h2>
            <a href="/article/v01">
                <div class="button">단어 기반 문장 생성</div>
            </a>
            <a href="/article/v02">
                <div class="button">동의어, 반의어, word-family 찾기</div>
            </a>
        </div>
    </div>
</div>

</html>