<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="grid">
        <div class="grid-item nav1">© astartrip</div>
        <div class="grid-item nav2">AI</div>
        <div class="grid-item nav3">can</div>
        <div class="grid-item nav4">make</div>
        <div class="grid-item nav5">mistake.</div>
        <div class="grid-item nav6"><a href="/search">검색</a></div>
        <div class="grid-item nav7"><a href="https://gemini.google.com" target="_blank">gemini 제공</a></div>
    </div>
</footer>
</html>