<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav">
    <div class="grid">
        <div class="grid-item nav1" id="mainLogo"><a href="/">A startrip</a></div>
        <div class="grid-item nav2"><a href="/search">검색</a></div>
        <div class="grid-item nav3"><a href="/article">학습 시작</a></div>
        <div class="grid-item nav4"></div>
        <div class="grid-item nav5"></div>
        <div class="grid-item nav6"><a href="/my" th:text="${userEmail}">myAccount</a></div>
        <div class="grid-item nav7" th:if="${userEmail == null}"><a href="/login">로그인</a></div>
        <div class="grid-item nav7" th:unless="${userEmail == null}"><a href="/logout">로그아웃</a></div>
    </div>
</nav>
</html>