<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="module" src="/js/article.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
    <script>
        const articleNum = [[${ articleNum }]]
        const editPermission = [[${ editPermission }]]
    </script>
    <style>
        @import url("/css/main.css");
        @import url("/css/article.css");
        @import url("/css/modal.css");
    </style>
    <title>Article - A startrip </title>
</head>

<body>
    <header>
        <div th:replace="~{/fragment/nav :: nav}"></div>
    </header>
    <main>
        <div class="articleTitle">
            <input id="articleTitle" type="text" placeholder="제목 Title" required maxlength="30">
            <div id="qrcode" onclick="qrcodeToggle()"></div>
            <script>  let qrcode = new QRCode(document.getElementById("qrcode"), {
                    text: window.location.href,
                    width: 1024,
                    height: 1024
                })
            </script>
            <div class="articleInfo">[[${article.writer}]]에 의해 작성되었고 [[${article.hit}]]회 조회됨</div>
            <div class="articleInfo">
                <div class="checkbox-container">
                    <input type="checkbox" id="articlePermission" name="articlePermission"
                        th:checked="${#strings.equals(article.articlePermission, 'OPEN')}"
                        onclick="articlePermission(articleNum)">
                    <label for="articlePermission" class="checkbox-custom"></label>
                    <label for="articlePermission" class="checkbox-label">게시판에 공개하기</label>
                </div>
            </div>
        </div>
        <div th:replace="~{/article/r01 :: r01}"></div>
        <div th:replace="~{/article/r02 :: r02}"></div>
        <div th:replace="~{/article/w01 :: w01}"></div>
        <div th:replace="~{/article/w02 :: w02}"></div>
        <div th:replace="~{/article/v01 :: v01}"></div>
        <div th:replace="~{/article/v02 :: v02}"></div>
        <div th:replace="~{/article/p01 :: p01}"></div>
        <div th:replace="~{/article/p02 :: p02}"></div>
        <div th:replace="~{/article/p03 :: p03}"></div>
        <div th:replace="~{/article/addArticle :: addArticle(${articleNum})}"></div>
        <div class="cards"> <!-- 실제 cards가 존재할 곳 -->

        </div>
    </main>
    <footer th:replace="~{/fragment/footer :: footer}"></footer>

    <!-- 모달 팝업 -->
    <div id="modal" class="modal">
        <div class="modal-content" onclick="document.querySelector('.modal').style.display='none'">
            <span class="close-button">&times;</span>
            <p id="modal-text">모달 팝업 텍스트</p>
        </div>
    </div>
</body>

</html>