<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<div class="p03" th:fragment="p03">

    <script type="module" src="/js/three.js"></script>
    <div class="cardContent">
        <div class="reg">
            <h1 id="cardTitle">파일</h1>
            <input type="file" name="userInput0" id="userInput0">

            <div class="button" id="regButton">regButton none</div> <!-- css에 의해 none 처리됨-->
        </div>
        <div class="response">
            <h2 id="llmStatus"></h2>
            <div id="llmresponse0">
                <img />
                <a download class="button">파일 다운로드</a>
                <video controls autoplay muted>
                    비디오를 지원하지 않는 브라우저입니다.</video>
            </div>
        </div>
        <div class="threejs-container"></div>
    </div>
</div>

</html>