<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="r02" class="r02">
    <div class="reg">
        <form>
            <label for="userParagraph">지문 입력</label>
            <textarea name="userParagraph" id="userParagraph" rows="20" cols="100" placeholder="이곳에 문단 입력"></textarea>
            <div class="button">생성 시작</div> <!-- js 로 처리-->
        </form>
    </div>
    <div class="response">
        <p>LLM 답변 들어가는 곳</p>
        <div class="item">Pre Reading Question ----- 펼치기/접기
            <p id="llmresponse0"></p>
        </div>
        <div class="item">BackGround Knowledge ----- 펼치기/접기
            <p id="llmresponse1"></p>
        </div>
        <div class="item">Post Reading Question ----- 펼치기/접기
            <p id="llmresponse2"></p>
        </div>
    </div>
</div>



</html>