<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<div class="v02" th:fragment="v02">
    <script type="module" src="/js/three.js"></script>
    <div class="cardContent">
        <div class="reg">
                <label for="userInput0">문장 입력</label>
                <textarea name="userInput0" id="userInput0" rows="2" cols="100"
                    placeholder="이곳에 sentence 입력"></textarea>
                <div class="button" id="regButton">동의어, 반의어, word-family 찾기</div>
        </div>
        <div class="response">
            <h2 id="llmStatus"></h2>
            <div class="item">동의어 ----- 펼치기/접기
                <textarea name="llmresponse0" id="llmresponse0" rows="2" cols="100"
                placeholder=""></textarea>
            </div>
            <div class="item">반의어 ----- 펼치기/접기
                <textarea name="llmresponse1" id="llmresponse1" rows="2" cols="100"
                placeholder=""></textarea>
            </div>
            <div class="item">word-family ----- 펼치기/접기
                <textarea name="llmresponse2" id="llmresponse2" rows="2" cols="100"
                placeholder=""></textarea>
            </div>
        </div>
        <div class="threejs-container"></div>
    </div>
</div>

</html>