.grid-add {
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.grid-add .grid-item {
    width: 100%;
    border-radius: 30px;
    text-align: center;
    height: auto;
    box-shadow: 0px 4px 12px rgba(105, 105, 105, 0.6);
}

.grid-add .grid-item .button {
    /* border: 1px dotted black; */
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px;
}


@media screen and (max-width: 700px) {

    /* 반응형 웹 */
    .grid-add {
        grid-template-columns: repeat(1, 1fr);
    }
}


.articleTitle {
    /* border: 1px solid black; */
    text-align: left;
    border-radius: 20px;
    background-color:black;
    box-shadow: 0px 4px 8px rgb(141, 177, 209);
    padding: 10px;
    color: white;
    margin-bottom: 30px;
}

.articleTitle input {
    background-color:black;
    color: white;
    width: 90%;
    min-height: 60px;
    border: none;
    font-weight: bold;
    font-size: 50px;
}


.cards {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cardContent {
    width: calc(100% - 20px);
    position: relative;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(105, 105, 105, 0.6);

}

.blur-effect {
    filter: blur(8px);
}

.threejs-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* pointer-events: none;  */
}


/* reading   ------- */
.r01,
.r02,
.w01,
.w02,
.v01,
.v02,
.grid-add {
    width: 100%;
    max-width: 1000px;
    /* border: 1px solid black; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
    font-size: 30px;
    height: 400px;
    border: none;
}

.response {
    padding: 10px;
    /* border: 1px solid orange; */
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    min-height: 400px;
}

.response textarea {
    background-color: black;
    color: white;
}

#llmStatus {
    width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    color: black;

}

.reg {
    padding: 10px;
    text-align: center;
}

.r02 .response,
.v02 .response {
    display: flex;
    min-width: 500px;
    flex-direction: column;
    /* border: 1px solid orange; */
    border-radius: 20px;
}

.r02 .response .item #itemTitle,
.v02 .response .item #itemTitle {
    width: 150px;
    text-align: center;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0px 4px 8px aliceblue;
    padding: 10px;
    color: black;
}

.r02 .response textarea,
.v02 .response textarea {
    height: 100px;
}


/* writing ------- */
.w01 .reg,
.w02 .reg,
.v01 .reg,
.v02 .reg {
    /* border: 1px solid skyblue; */
    text-align: center;
}

/* vocabulary -------- */
.v01 .reg textarea {
    height: 100px;
}

.addArticle-join {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}