/* 모달 스타일 */
.modal {
    display: none; /* 모달을 기본적으로 숨깁니다 */
    position: fixed; /* 모달 위치를 고정시킵니다 */
    z-index: 1; /* 모달을 내용 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 밖으로 넘치는 내용을 스크롤로 처리 */
    background-color: rgba(0,0,0,0.4); /* 약간의 투명도를 가진 검은색 배경 */
}

.modal-content {
    background-color: aliceblue; /* 배경색을 aliceblue로 변경 */
    margin: 30px auto; /* 페이지 중앙에 위치 */
    min-height: 70px;
    padding: 20px;
    border: 1px solid #888;
    min-width: 50%; /* 모달 너비 조정 */
    border-radius: 30px; /* 모달의 모서리를 더욱 둥글게 처리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 모달에 그림자 효과 추가 */
    position: relative; /* 닫기 버튼을 위한 위치 기준 */
}

.close-button {
    color: #aaa;
    position: absolute; /* 절대 위치 사용 */
    top: 10px; /* 상단에서부터의 거리 */
    right: 10px; /* 우측에서부터의 거리 */
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
