<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        @import url("/css/main.css");
    </style>
    <title>change password</title>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"></div>
<h1>비밀번호 변경</h1>
<form>
    <div id="panel1" style="display: block;">
    <table>
        <tr>
            <td>
                <label for="email">이메일 : </label>
                <input type="button" value="이메일 인증" onclick="emailCheck()"/>
            </td>
            <td colspan="2"><input type="email" id="email" name="email"/></td>
        </tr>
        <tr id="confirmSection">
            <td><label for="confirmValue">인증번호 : </label></td>
            <td><input type="text" id="confirmValue" name="confirmValue"/></td>
            <td><input type="button" value="인증번호 확인" onclick="nextOn()"/></td>
        </tr>
        <tr>
            <td><label for="name">이름 : </label></td>
            <td colspan="2"><input type="text" id="name" name="name"/></td>
        </tr>
        <tr>
            <td><label for="birthDate">생년월일 : </label></td>
            <td colspan="2"><input type="date" id="birthDate" name="birthDate"/></td>
        </tr>
        <tr>
            <td><label for="tel">전화번호 : </label></td>
            <td colspan="2"><input type="text" id="tel" name="tel"/></td>
        </tr>
        <tr>
            <td>
                <div class="button"><a href="/login">취소</a></div>
            </td>
            <td></td>
            <td>
                <input type="button" id="nextButton" class="button" value="다음" style="display: none;"/>
            </td>
        </tr>
    </table>
    </div>
    <div id="panel2" style="display: none;">
    <table>
        <tr>
            <td><label for="PW">비밀번호 변경 : </label></td>
            <td colspan="2"><input type="password" id="PW" name="PW" required/></td>
        </tr>
        <tr>
            <td><label for="PWCheck">비밀번호 변경 확인 : </label></td>
            <td colspan="2"><input type="password" id="PWCheck" name="PWCheck" required/></td>
        </tr>
        <tr>
            <td>
                <div class="button"><a href="/login">취소</a></div>
            </td>
            <td></td>
            <td><input type="button" id="submitButton" class="button" value="전송" onclick="submit()"/></td>
        </tr>
    </table>
    </div>

</form>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script>
    var data = {
        email: "",
        name: "",
        birthDate: "",
        tel: "",
        PW: ""
    }

    function submit() {
        if($("#PW").val() === $("#PWCheck").val()) {
            data.PW = $("#PW").val()

            fetch("/user/password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // 응답 처리 로직
                console.log(data);
            })
            .catch(error => {
                // 오류 처리 로직
                console.error('Error:', error);
            });
        }
    }

    $(document).ready(function(){
        $("#nextButton").click(function(){
            $("#panel1").slideUp(3000, function(){
                data.email = $("#email").val()
                data.name = $("#name").val()
                data.birthDate = $("#birthDate").val()
                data.tel = $("#tel").val()

            })
            $("#panel2").slideDown(3000)
        })
    })

    function emailCheck() {
        var dataToSend = {
            email: document.querySelector("#email").value
        };

        fetch("/email/verification-requests", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(dataToSend)
        })
        .then(response => response.json())
        .then(data => {
            // 응답 처리 로직
            console.log(data);
        })
        .catch(error => {
            // 오류 처리 로직
            console.error('Error:', error);
        });

        console.log("수행됨 : ", dataToSend);
    }

    function nextOn() {
        var dataToSend = {
            email: document.querySelector("#email").value,
            authCode: document.querySelector("#confirmValue").value
        };

        fetch("/email/verifications", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(dataToSend)
        })
        .then(response => response.json())
        .then(data => {
            var confirm = data.confirm

            var nextButton = document.getElementById("nextButton")

            console.log(confirm);
            if(confirm === true) {
                nextButton.style.display="block";
            }else{
                nextButton.style.display="none";
            }
            console.log(data);
        })
        .catch(error => {
            // 오류 처리 로직
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>