<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        @import url("/css/main.css");
        @import url("/css/modal.css");
    </style>
    <title>비밀번호 변경</title>
</head>

<body>
    <div th:replace="~{fragment/nav :: nav}"></div>
    <h1 class="loginTitle">비밀번호 변경</h1>
    <div class="form">
        <div id="panel1" style="display: block;">
            <div class="form-group">
                <label for="email">이메일 :</label>
                <input type="email" id="email" name="email" placeholder="이메일 주소 입력" />
                <button type="button" class="small-button" onclick="emailCheck()">이메일 인증</button>
            </div>
            <div class="form-group" id="confirmSection">
                <label for="confirmValue">인증번호 :</label>
                <input type="text" id="confirmValue" name="confirmValue" placeholder="인증번호 입력" />
                <button type="button" class="small-button" onclick="nextOn()">인증번호 확인</button>
            </div>
            <div class="form-group">
                <label for="name">이름 :</label>
                <input type="text" id="name" name="name" placeholder="이름 입력" />
            </div>
            <div class="form-group">
                <label for="birthDate">생년월일 :</label>
                <input type="date" id="birthDate" name="birthDate" />
            </div>
            <div class="form-group">
                <label for="tel">전화번호 :</label>
                <input type="text" id="tel" name="tel" placeholder="전화번호 입력" />
            </div>
            <div class="form-actions">
                <a href="/login" class="button small-button">취소</a>
                <button type="button" class="button toggleButton" style="display: none;">다음</button>
            </div>
        </div>
        <div id="panel2" style="display: none;">
            <div class="form-group">
                <label for="PW">비밀번호 변경 :</label>
                <input type="password" id="PW" name="PW" required />
            </div>
            <div class="form-group">
                <label for="PWCheck">비밀번호 변경 확인 :</label>
                <input type="password" id="PWCheck" name="PWCheck" required />
            </div>
            <div class="form-actions">
                <button type="button" class="button small-button toggleButton">이전</button>
                <button type="button" id="submitButton" class="button" onclick="submit()">전송</button>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragment/footer :: footer}"></footer>
    <script>
        // JavaScript 코드는 기존의 유지
    </script>
</body>

</html>

<script type="module">
    import { showModal, closeModal } from '/js/modal.js'
    var data = {
        email: "",
        name: "",
        birthDate: "",
        tel: "",
        PW: ""
    }

    function submit() {
        if ($("#PW").val() === $("#PWCheck").val()) {
            data.PW = $("#PW").val()
            console.log(data)

            fetch("/user/password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // 응답 처리 로직
                if(data === true) {
                    location.href = '/login';
                }else{
                    alert("정보가 올바르지 않습니다.");
                }
                console.log(data);
            })
            .catch(error => {
                // 오류 처리 로직
                console.error('Error:', error);
            });
        }
    }
    window.submit = submit

    $(document).ready(function () {
        $(".toggleButton").click(function () {
            $("#panel1").slideToggle(3000, function () {
                data.email = $("#email").val()
                data.name = $("#name").val()
                data.birthDate = $("#birthDate").val()
                data.tel = $("#tel").val()

            })
            $("#panel2").slideToggle(3000)
        })
    })

    function emailCheck() {
        var dataToSend = {
            email: document.querySelector("#email").value
        };

        fetch("/email/verification-requests", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(dataToSend)
        })
            .then(response => response.json())
            .then(data => {
                // 응답 처리 로직
                console.log("이메일 post 응답: ", data);
                if (data) {
                    showModal("당신의 이메일로 전송 완료했어요.")
                } else {
                    showModal("이메일 전송 실패. 이미 사용 중인 이메일 같아요.")
                }
            })
            .catch(error => {
                // 오류 처리 로직
                console.error('Error:', error);
            });

        console.log("수행됨 : ", dataToSend);
    }
    window.emailCheck = emailCheck

    function nextOn() {
        var dataToSend = {
            email: document.querySelector("#email").value,
            authCode: document.querySelector("#confirmValue").value
        };

        fetch("/email/verifications", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(dataToSend)
        })
            .then(response => response.json())
            .then(data => {
                var confirm = data.confirm

                const toggleButton = document.querySelector(".toggleButton")

                console.log(confirm);
                if (confirm === true) {
                    showModal("인증 성공했어요.")
                    toggleButton.style.display = "block";

                } else {
                    showModal("인증코드가 일치하지 않아요.")
                    toggleButton.style.display = "none";
                }
                console.log(data);
            })
            .catch(error => {
                // 오류 처리 로직
                console.error('Error:', error);
            });
    }
    window.nextOn = nextOn
</script>
<!-- 모달 팝업 -->
<div id="modal" class="modal">
    <div class="modal-content" onclick="document.querySelector('.modal').style.display='none'">
        <span class="close-button">&times;</span>
        <p id="modal-text">모달 팝업 텍스트</p>
    </div>
</div>
</body>

</html>